*           text=auto
*.jpg       -text
*.png       -text
LICENSE        text eol=lf
yarn.lock      text eol=lf
.gitattributes text eol=lf
.eslintrc      text eol=lf
.prettierrc    text eol=lf
.eslintignore  text eol=lf
.gitignore     text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.py        text eol=lf
*.sh        text eol=lf
*.txt       text eol=lf
*.yaml      text eol=lf
*.yml       text eol=lf
*.js        text eol=lf
*.jsx       text eol=lf
*.ts        text eol=lf
*.tsx       text eol=lf
*.css       text eol=lf
*.html       text eol=lf
*.ps1       text eol=crlf
*.vcproj    text eol=crlf
